{% extends 'base.html' %}
{% load static %}


{% block title %}
    Страница не найдена
{% endblock title %}

{% block styles %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
{% endblock styles %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-4" style="font-family: 'Press Start 2P', cursive;">Страница не найдена :)</h1>
    <p class="lead">Сорьки, такой странички нет и не было никогда ^-^</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Пройдите на нашу домашнюю страницу</a>
</div>
{% endblock content %}