{% load static %}
<html>
    <head>
        <title>
            {% block title %}Главная{% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="icon" href="data:;base64,=">
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img src="{% static 'images/logo_cyber.png' %}" alt="logo of store" />
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>{{ user.username }}!<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'history_orders' %}">Посмотреть историю заказов</a></li>
                                <li><a href="{% url 'change_password' %}">Сменить пароль</a></li>
                                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span>Выйти из аккаунта</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'user_cart_page'%}"><span class="glyphicon glyphicon-shopping-cart"></span>Your cart</a></li>

                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    </ul>
                    {% endif %}
                    <form class="navbar-form navbar-right" role="search" method="GET" action="{% url 'search_products' %}">
                        {% csrf_token %}
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="Search.." name="search_text">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </nav>
        </header>

        <main class="content">
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="footer mt-auto py-3">
              <div class="container">
                  <p class="text-muted"><a href="{% url 'contacts' %}">Контакты</a></p>
                  <p><a data-toggle="modal" data-target="#Modal_feedback">Cвязаться с нами</a></p>

                  <div class="modal fade panel panel-primary" id="Modal_feedback" role="dialog">
                      <div class="modal-dialog">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 align="center" class="modal-title"><kbd>Форма обратной связи</kbd></h4>
                          </div>
                          <div class="modal-body">
                              <h3 align='center'><code>Введите свои контактные данные</code></h3><hr>
                              <form method='POST' action='feedback_form' class='feedback_form'>
                                  {% csrf_token %}
                                  <p><input required type='text' id='client_name' placeholder='Имя' class='form-control' \></p>
                                  <p><input required type='text' id='client_phone' placeholder='Телефон' class='form-control' \></p>
                                  <p><input required type='email' id='client_email' placeholder='Электронная почта' class='form-control' \></p>
                                  <p><textarea class='form-control' required rows='5' cols='80' id='question_client' placeholder='Ваш вопрос'></textarea></p>
                                  <button type='submit' class='btn btn-success'>Отправить</button>
                              </form>
                          </div>
                          <div class="modal-footer">
                          </div>
                      </div>
                  </div>
              </div>
        </footer>
        <script type="text/javascript" src="{% static 'js/feedback_form.js' %}"></script>

        {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
        {% endblock scripts %}
    </body>
</html>