{% extends 'base.html' %}
{% load static %}

{% block title %}
    Контакты
{% endblock title %}

{% block content %}
    <h2>Адрес магазина (пункт самовывоза)</h2>
    <p>г.Екатеринбург Ул.Крауля 57</p>
    <div id="map" style="width: 600px; height: 400px"></div>
{% endblock content %}

{% block scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/ya_map.js' %}"></script>
{% endblock scripts %}