{% extends 'base.html' %}

{% load static %}

{% block title %}
    Оформление заказа
{% endblock title %}


{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <a href="{% url 'user_cart_page' %}">Вернуться в корзину</a>
        </div>

        <div class="col-sm-8 text-left">
            <h1>Оформление заказа (оплата при получении)</h1><hr>
            <form method="POST" action="{% url 'ordering_payment_delivery' %}">
                {% csrf_token %}
                <div id="recipient_contacts" class="well">
                    <h2><b>Получатель</b></h2>
                    <input type="checkbox" name="is_user_receiver" id="who_receive_order" value="is_user_receiver"/> Получать буду не я <br>
                    <input required name="name_recipient" class="name_recipient" type="text" placeholder="Имя" value="{{ user.first_name }}"></p>
                    <input required type="text" name="surname_recipient" class="surname_recipient" placeholder="Фамилия" value="{{ user.last_name }}"></p>
                    <input required type="text" name="phone" class="phone" placeholder="Телефон"></p>
                </div>

                <div id="method_receiving_order" class="well">
                    <h2><b>Способ получения</b></h2>
                    <p>
                        На данный момент доступен только самовывоз. Приносим свои извинения за предоставленное неудобство.
                    </p>

                </div>

                <input type="submit" value="Отправить заказ" />
            </form>


        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="{% static 'js/ordering.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>

{% endblock scripts %}