{% extends 'base.html' %}

{% load static %}

{% block title %}
    Заказ №{{ num }} создан
{% endblock title %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" id="list_rubrics">

        </div>
        <div class="col-sm-8 text-left">
            <div class="container">
                <div class="row">
                    <h1>Заказ №{{ num }} создан</h1>
                    <p>Уважаемый {{ user.username }}!</p>
                    <p>Благодарим вас за покупку, ждем еще ваших заказов.</p>
                    <p><a href="{% url 'pdf_details_order' num%}">Детали заказа</a> </p>
                </div>
            </div><br>
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
    </div>
</div>
{% endblock content %}