{% extends 'base.html' %}

{% load static %}

{% block title %}
    Ваша корзина
{% endblock title %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

        </div>
        <div class="col-sm-8 text-left">
            {% if user.is_authenticated %}

            {% if is_empty_cart %}
            <h2>Ваша корзина пуста.</h2>
            <p>
                Чтобы выбрать товар, который вы ходите купить, пройдите на
                <a href="{% url 'home' %}">главную страницу</a>
            </p>
            {% else %}
            <h2>Ваша корзина.</h2>
            <div class="jumbotron" id="products_in_cart">
                {% for product in products_in_cart %}
                <div class="row align-items-start" id="container_{{ product.pk }}">
                    <div class="col-4 col-sm-4">
                        <img class="img-thumbnail" src="{{ product.imageproduct_set.first.image.url }}" alt="{{ product.title }}" width="150" height="150">
                    </div>
                    <div class="col-6 col-sm-6">
                        <p class="text-left"><a href="{% url 'product_details' product.pk %}">{{ product.title }}</a></p>

                        {% for key, value in count_each_product.items %}
                            {% if product.pk == key %}
                            <p class="text-left">
                                Количество:
                                <form method="POST" action="reduce_count_products" class="reduce_count_products_form" id="change_count">
                                    {% csrf_token %}
                                    <button type="submit" id="reduce_num">-</button>
                                    <input type="hidden" name="product_id" value="{{ product.id }}" id="product_{{ product.id }}" class="product_id">
                                </form>
                                <form id="change_count" class="count_{{ product.pk }}">
                                    {{ value.0 }}
                                </form>

                                <form method="POST" action="increase_count_products" class="increase_count_products_form" id="change_count">
                                    <button type="submit" id="increase_num">+</button>
                                    <input type="hidden" name="product_id" value="{{ product.id }}" id="product_{{ product.id }}" class="product_id">
                                </form>
                            </p>
                            <p class="text-left" id="price_{{ product.pk }}">{{ value.1 }}</p>
                            {% endif %}
                        {% endfor %}


                    </div>
                     <div class="col-2 col-sm-2">
                        <form action="delete_product_in_cart" class="delete_product_in_cart_form" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="delete_product_{{ product.pk }}"><span class="glyphicon glyphicon-trash"></span>Удалить</button>
                            <input type="hidden" name="product_id" value="{{ product.id }}" id="product_{{ product.id }}" class="product_id">
                        </form>

                    </div>

                </div>

                <hr>
                {% endfor %}
                <h2>Итоговая сумма</h2>
                <h2 class="total_sum">{{ total_sum }}</h2>
            </div>
            <form action="{% url 'user_cart_page' %}" method="POST" class="well">
                {% csrf_token %}
                <h1>Выбор способа оплаты</h1>
                <p><input type="radio" checked name="payment_method_group" value="delivery"/> Оплата при получении</p>
                <p><input type="radio" name="payment_method_group" value="online"/> Оплата онлайн</p>
                <button type="submit">Оформить заказ</button>
            </form>

            {% endif %}

            {% else %}
            <h2>Вы не вошли в свой аккаунт.</h2>
            <p>
                Чтобы войти в свой аккаунт, пройдите на
                <a href="{% url 'login' %}">страницу входа</a>
            </p>

            {% endif %}
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/scripts_user_cart_page.js' %}"></script>
{% endblock scripts %}