{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Войти в учетную запись
{% endblock title %}


{% block content %}

<h2>Войти в учетную запись</h2>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username|as_crispy_field }}
    {{ form.password|as_crispy_field }}
    {{ form.captcha.label }}<br>
    {{ form.captcha }}
    <button class='js-captcha-refresh'>Обновить капчу</button><br>
    <input type="submit" value="Войти" />
</form>
<p><a href="{% url 'signup' %}">Нет аккаунта?</a></p>
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

<script type="text/javascript" src="{% static 'js/refresh_captcha.js' %}"></script>
{% endblock content %}