{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Сброс пароля
{% endblock title %}

{% block content %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Сброс пароля</h2><hr>
    <p>Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы отправим вам инструкции
        по установке нового пароля. </p>
    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Отправить письмо</button>
    </form>
</div>
{% endblock content %}