{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Установка нового пароля
{% endblock title %}

{% block content %}
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Установка нового пароля</h2>
		<hr>
        <p>Пожалуйста, введите ваш новый пароль.</p>
        <form method="POST" action="{% url 'password_reset_confirm' %}">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Создать новый пароль</button>
        </form>
    </div>
{% endblock content %}