* {
	margin: 0;
	padding: 0;
}
html, body
{
  height: 100%;
}

a .logo{
    float:left;
    margin-top:0px;
    margin-right:50px;
}
.row.content {
height: 450px
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  min-height: 250vh;
}

button.captcha-refresh {
    color: white;
    border: 1px solid #FB8F3D;
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

button.captcha-refresh:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B);
    background: -moz-linear-gradient(top, #FD924C, #F9760B);
    background: -ms-linear-gradient(top, #FD924C, #F9760B);
    box-shadow: 0 1px #EFEFEF;
}

button.captcha-refresh:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}
#product_view {
    height: 490px;
    width: 350px;

}

#product_title{
    height:45px;
}

#product_image {
    height: 295px;
    align: center;
}



#change_count{
    display: inline-block;
}
/*прижатый footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  margin-top: 40px; /*участвует в закреплении header*/
  flex: 1; /*участвует в прижатии footer */
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
}

/*закрепленная шапка при скролле*/
header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
}


.sorting p, select{
    display:inline-block;

}

#choice_sorting {
    width: 160px;
}